.container{
    background-color:whitesmoke;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(14rem, 1fr));
    grid-gap: 5px;
}


.card{
    width: 15rem;
    height: 15rem;
    border: solid black 2px;
    margin-top: 10px;
    margin-left: 15px;
    border-radius: 10px;
    text-align: center;
    padding: 15px;
    line-height: 30px;
}

*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}


.book-name{
    font-size: xx-large;
}

.buttons{
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

